<div class="container">
  <div class="card">
    <div class="card-header">
      New Customer
    </div>
    <div class="card-body">
        <form [formGroup]="newCustomerFormGroup" (ngSubmit)="handleSaveCustomer()">
            <div class="mb-3">
                <label for="name" class="form-label">Name</label>
                <input type="text" class="form-control" id="name" formControlName="name">
                <span
                  *ngIf=" newCustomerFormGroup.controls['name'].touched
                  && newCustomerFormGroup.controls['name'].errors
                  && newCustomerFormGroup.controls['name'].errors?.['required']">
                    <small class="text-danger">Name is required</small>
                </span>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" id="email" formControlName="email">
              <span
                *ngIf=" newCustomerFormGroup.controls['email'].touched
                  && newCustomerFormGroup.controls['email'].errors
                  && newCustomerFormGroup.controls['email'].errors?.['email']">
                    <small class="text-danger">Email is invalid</small>
                </span>
            </div>
            <button [disabled]="newCustomerFormGroup.invalid" type="submit" class="btn btn-primary">Save</button>
        </form>
    </div>
  </div>
</div>
